/* Botones de opciones */
.btn-outline-primary {
    border: 2px solid #000000 !important;
    padding: 18px 25px !important;
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    border-radius: 12px !important;
    background-color: white !important;
    color: #0d6efd !important;
    transition: all 0.3s ease !important;
    text-align: center !important;
    margin-bottom: 15px !important;
    -ms-flex-align: center;
}

.btn-outline-primary:hover {
    background-color: #999999 !important;
    color: white !important;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(13, 110, 253, 0.3);
}

/* Botón correcto */
.btn-success {
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: white !important;
    box-shadow: 0 5px 15px rgba(25, 135, 84, 0.4) !important;
}

/* Botón incorrecto */
.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
    box-shadow: 0 5px 15px rgba(220, 53, 69, 0.4) !important;
}